
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.white-bg {
  background-color: white;
}

.white-box {
  padding: 4px 8px;
  background-color: white;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
}

.mt {
  margin-top: 1.2em;
}

.mb {
  margin-bottom: 1.2em;
}

.mr {
  margin-right: 1.2em;
}

.ml {
  margin-left: 1.2em;
}

.p {
  padding: 1em;
}

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0;
}

.float-right {
  float: right;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-error {
  color: #ed4014;
}

.inline-block {
  display: inline-block;
}

.ant-divider-horizontal.ant-divider-small {
  margin: 12px 0;
}
